//
//  Config.xcconfig
//  simpleBible
//
//  Created by shkim on 2/5/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


KAKAO_NATIVE_APP_KEY = d187a99cc04374ca701613290f890208
SIMPLE_BIBLE_OPENAI_API_KEY = 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
